name: CI

on:
  push:
    branches-ignore:
    - main

jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
        fetch-depth: 1
    - uses: DeterminateSystems/nix-installer-action@main
    - name: Test website and nix environment
      run: nix develop --command bash -c "hugo"
